$phone-bg-color: #dfe4ea;
$phone-border-color: #1e1f26;
$phone-width: 250px;
$phone-ratio: 2;

.phone {
  width: $phone-width;
  height: $phone-width * $phone-ratio;
  background: $phone-bg-color;
  display: block;
  border-radius: 30px;
  border: 5px solid $phone-border-color;
  position: relative;
  box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.55);

  &::before {
    content: "";
    position: absolute;
    left: 25%;
    top: 0;
    width: 50%;
    height: 3%;
    background: $phone-border-color;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
